<div *ngIf="!question; else questionContent">
  <p>Carregando pergunta...</p>
</div>

<ng-template #questionContent>
<div class="question-card" style="margin-top: 30px" *ngIf="question">
  <h2>{{ question?.questionsDTO?.title }}</h2>
  <p>
    Perguntou em: <b>{{ question?.questionsDTO?.createdDate | date : "dd/MM/yyyy" }}</b> 
    por <b>{{ question?.questionsDTO?.username }}</b>
  </p>
  
  <div class="vote-section">
    <div class="arrow-icon" 
         (click)="addVote('UPVOTE', question?.questionsDTO?.voted ?? 0)" 
         matTooltip="Esta resposta é útil" 
         [ngStyle]="{'color': question?.questionsDTO?.voted == '1' ? 'rgb(11, 211, 81)' : 'default'}">
      <i class="material-icons">keyboard_arrow_up</i>
    </div>
  
    <div class="vote-count">
      <p>{{ question?.questionsDTO?.voteCount || 0 }}</p> <!-- Se não houver votos, exibe 0 -  evita que o campo apareça vazio caso voteCount seja undefined. -->
    </div>
  
    <div class="arrow-icon" 
         (click)="addVote('DOWNVOTE', question?.questionsDTO?.voted ?? 0)" 
         matTooltip="Esta resposta não foi útil" 
         [ngStyle]="{'color': question?.questionsDTO?.voted == '-1' ? 'rgb(11, 211, 81)' : 'default'}">
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
  
  
  <div class="question-body">
    <p>Corpo do texto: {{ question?.questionsDTO?.body }}</p>
    <div class="tag-list">
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of question?.questionsDTO?.tags" color="primary">{{ tag }}</mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>

<!-- ////////////////////////  Viewing Answer -->

<div *ngFor="let answer of answers; let i = index;" class="answer-card" style = "margin-top: 30px">
  <h2>Resposta</h2>
  <div>
    <div>
      <h5>Respondido por: <b>{{ answer.username }}</b> - Respondido em: <b>{{ answer.createdDate | date : "MMM d, y, h:mm:ss a" }}</b></h5> <!-- Formatação de data: Jun 15, 2015, 9:03:01 AM -->
      <p>{{ answer.body }}</p>
      <div *ngIf="answer.convertedImg && answer.convertedImg.trim() !== ''">  <!-- Verifica se há imagem antes de renderizar -->
        <img 
          [src]="answer.convertedImg" 
          [alt]="'Imagem enviada por ' + answer.username" 
          style="height: 150px; display: block; margin-top: 10px;" 
        />
      </div>
      <span>
        <hr>
        <div>
          <button mat-raised-button color="primary" (click)="approveAnswer(answer.id)" *ngIf="displayButton">
            <mat-icon>check_circle</mat-icon> Aprovar Pergunta
          </button>
        </div>
      </span>
    </div>
  </div>
</div>

<!-- ////////////////////////  Post Answer -->

<div class="answer-section" style="margin-top: 30px;">
  <div>
    <h2 class="title-answer">Postar Resposta</h2>
  </div>

  <form [formGroup]="validateForm" (ngSubmit)="addAnswer()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Assunto</mat-label>
        <textarea matInput rows="2" placeholder="Solução..." formControlName="body"></textarea>
      </mat-form-field>

      <div class="form-field">
        <div class="image-preview" *ngIf="selectedFile">
          <img [src]="imagePreview" height="50" alt="Img de pré-visualização" />
        </div>
        <input id="file" type="file" accept="image/png, image/jpeg" (change)="onFileSelected($event)" />
      </div>
      
      <button mat-raised-button color="accent">Postar Resposta</button>
    </div>
  </form>
</div>
</ng-template>