<div *ngIf="!question; else questionContent">
  <p>Carregando pergunta...</p>
</div>

<ng-template #questionContent>
<div class="question-card" style="margin-top: 30px">
  <h2>{{ question?.questionsDTO?.title }}</h2>
  <p>
    Perguntou em: <b>{{ question?.questionsDTO?.createdDate | date : "dd/MM/yyyy" }}</b> 
    por <b>{{ question?.questionsDTO?.username }}</b>
  </p>
  <div class="question-body">
    <p>Corpo do texto: {{ question?.questionsDTO?.body }}</p>
    <div class="tag-list">
      <mat-chip-listbox>
        <mat-chip *ngFor="let tag of question?.questionsDTO?.tags" color="primary">{{ tag }}</mat-chip>
      </mat-chip-listbox>
    </div>
  </div>
</div>
</ng-template>