.navbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
}

.spacer {
    flex: 1;
}

button {
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
}

button.active {
    font-weight: 600;
}

.custom-toolbar {
    background-color: #ff0000;
}

.welcome-card {
    background-color: #f8f9fa; /* Cor de fundo clara */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 20px; /* Margem externa */
    text-align: center; /* Centraliza o texto */
}

.title-center {
    display: block;
    text-align: center;
    font-size: 25px;
    color: #3f51b5;
    padding: 20px;
    font-weight: 600;
}

.footer-content {
    text-align: center; 
    margin-top: 20px; 
    color: rgba(0,0,0,0.6); 
    font-size: 14px;
}

.custom-nav-link {
    text-decoration: none;       // remove o sublinhado
    color: white;                // cor branca
    cursor: pointer;             // muda para "mãozinha"
    font-weight: bold;           // opcional: deixa o texto em negrito
    transition: color 0.3s ease; // suaviza a transição de cor

    &:hover {
      color: #ccc;               // muda para cinza claro ao passar o mouse
    }
}
