.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    max-width: 500px;
    width: 90%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.login-caption {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
}

@media (max-width: 600px) {
    .login-card {
        max-width: 300px;
    }
}

.mat-error {
    color: red; /* Exibe as mensagens em vermelho */
    font-size: 0.9em; /* Ajusta o tamanho da fonte */
    margin: 4px 0 8px; /* Ajusta a posição das mensagens */
    line-height: 1.4;
}

.form-field {
    width: 100%; /* Garante que os campos ocupem toda a largura disponível */
}

.divider {
    margin: 20px 0; /* Adiciona espaçamento entre os campos */
    display: none;
}

.title-center {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #bb2929;
    padding: 20px;
    font-weight: 500;
}

.footer-content {
    text-align: center; 
    margin-top: 20px; 
    color: rgba(0,0,0,0.6); 
    font-size: 14px;
}

.custom-nav-link {
    text-decoration: none;       // remove o sublinhado
    color: #3f51b5;                // cor branca
    cursor: pointer;             // muda para "mãozinha"
    font-weight: bold;           // opcional: deixa o texto em negrito
    transition: color 0.3s ease; // suaviza a transição de cor
    padding-left: 5px;

    &:hover {
      color: #bb2929;               // muda para cinza claro ao passar o mouse
    }
}