.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;
}

.signup-card {
    max-width: 500px;
    width: 90%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}

.signup-caption {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-input {
    margin-bottom: 7px;
}

.signup-button {
    width: 100%;
}

@media (max-width: 600px) {
    .sigup-card {
        max-width: 300px;
    }
}

.mat-error {
    color: red; /* Exibe as mensagens em vermelho */
    font-size: 0.9em; /* Ajusta o tamanho da fonte */
    margin: 4px 0 8px; /* Ajusta a posição das mensagens */
    line-height: 1.4;
}

.form-field {
    width: 100%; /* Garante que os campos ocupem toda a largura disponível */
}

.divider {
    margin: 20px 0; /* Adiciona espaçamento entre os campos */
}

.submit-button {
    width: 100%;
    margin-top: 20px;
}

.footer-content {
    text-align: center; 
    margin-top: 20px; 
    color: rgba(0,0,0,0.6); 
    font-size: 14px;
}